@{
    ViewData["Title"] = "Uçuşlar";
}
@model IEnumerable<Flight>

<div class="row  mb-3">
    <div class="d-flex align-items-center justify-start gap-3">
        <h5 class="mb-0">Uçuş Listesi
        </h5>
        <a asp-controller="Flight" asp-action="Create" class="btn btn-sm btn-warning">Uçuş
            Ekle</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Uçuş Numarası</th>
            <th>Firma</th>
            <th>Kalkış</th>
            <th>Varış</th>
            <th>Fiyat</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(flight.AirlineLogoPath))
                    {
                        <img src="@flight.AirlineLogoPath" alt="@flight.Airline Logo" width="50" />
                    }
                    else
                    {
                        <span>Logo Yok</span>
                    }
                </td>
                <td>@flight.FlightNumber</td>
                <td>@flight.Airline</td>
                <td>@flight.Origin</td>
                <td>@flight.Destination</td>
                <td>@flight.Price.ToString("C")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@flight.Id" class="btn btn-warning btn-sm">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@flight.Id" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>