@{
    ViewData["Title"] = "Uçuşlar";
}

@model IEnumerable<Flight>

<h2>Uçuş Listesi</h2>
<a href="/Flight/Create" class="btn btn-primary">Uçuş Ekle</a>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Uçuş Numarası</th>
            <th>Kalkış Yeri</th>
            <th>Varış Yeri</th>
            <th>Yolcu Kapasitesi</th>
            <th style="width: 150px;">Ayarlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.FlightNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Origin)</td>
                <td>@Html.DisplayFor(modelItem => item.Destination)</td>
                <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                <td>
                    <a asp-controller="Flight" asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-sm btn-warning">Details</a>
                    <a asp-controller="Flight" asp-action="Delete" asp-route-id="@item.Id"
                        class="btn btn-sm btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>